<ul>
    <li><a class="button" routerLink="/guessnum">Guess A Number</a></li>
    <li><a class="button" routerLink="/slots">Slot Example</a></li>
    <li><a class="button" routerLink="/combine_observables">Combine Observables</a></li>
    <li><a class="button" routerLink="/handle_exceptions">Handle Exceptions</a></li>
    <li><a class="button" routerLink="/fpts">FP TS Library Example</a></li>
    <li><a class="button" routerLink="/imghook">Image Hook</a></li>
    <li><a class="button" routerLink="/forceclass">Force Class</a></li>
    <li><a class="button" routerLink="/more_observables">More Observables</a></li>
    <li><a class="button" routerLink="/zonetest">Zone Test</a></li>
    <li><a class="button" routerLink="/jsonser">JSON Serialization</a></li>
</ul>