.infocard {
    border-width: 1px;
    border-style: ridge;
    border-color: black;
}

.infocard .summary {
    border-width: 1px;
    border-style: ridge;
    border-color: green;
}

.infocard .detail {
    border-width: 1px;
    border-style: ridge;
    border-color: red;
}